* {
    margin: 0;
    padding: 0;
}
a{
    
    color: black;
    text-decoration: none;
}
#stock {
    width: 600px;
    background-color: #eee;
    padding: 1px;
}
ul {
    list-style-type: none;
}
#stock ul li {
    border: 1px solid #b6b5b5;
    margin: 3px;
    padding: 5px;
}
.stock_num {
    font-weight: bold;
}
.percent {
    font-size: 12px;
    padding: 5px;
}
.blue {
    color: rgb(30, 30, 250);
    background-color: rgb(99, 229, 252);
}
.red {
    color: rgb(253, 47, 47);
    background-color: rgb(252, 146, 146);
}